.wrapper {
    margin-top: 80px;
    min-height: 600px;
}

.regular-form {
    margin-top: 20px;
}

.has-error {
    color: red;
}

.title {
    text-align: center;
}

nav.navbar {
    background-color: #17a2b8 !important;
    color: #ffffff;
}

nav.navbar .navbar-brand {
    color: #ffffff;
}

nav.navbar .navbar-brand:hover {
    color: #dc3545;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link  {
    color: #dc3545;
}

.dropdown-menu {
    background-color: #17a2b8;
    right: 0;
    left: auto;
}

.dropdown-item {
    color: #ffffff;
}

footer {
    padding-top: 10px;
    border: 1px solid #ccc;
    background-color: #eee;
    font-size: 14px;
    margin-top: 20px;
}

footer h3 {
    font-size: 24px;
}

footer .description {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
}